#include "resource.h"

IDR_EUREKA_MENU MENU DISCARDABLE
BEGIN
    POPUP "&File"
    BEGIN
        MENUITEM "E&xit", IDM_EUREKA_EXIT
    END
    POPUP "&Help"
    BEGIN
        MENUITEM "&About Eureka", IDM_EUREKA_ABOUT
    END
END
